build
lib
obj
*.o
*.a
*.pyc
results
log
dreamplace/version.py
dreamplace/configure.py
dreamplace/.install_manifest.txt
dist
dreamplace.egg-info
install
*.so
*.egg-info
# thirdparty/flute
.DS_Store
.vscode/*
bin
include
unittest
.cache
*_unittest

# Bazel
bazel-*
